In [67]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [68]:
df = pd.read_excel('Folds5x2_pp.xlsx')

In [69]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

Attribute Information:

Features consist of hourly average ambient variables
- Temperature (T) in the range 1.81°C and 37.11°C,
- Ambient Pressure (AP) in the range 992.89-1033.30 milibar,
- Relative Humidity (RH) in the range 25.56% to 100.16%
- Exhaust Vacuum (V) in teh range 25.36-81.56 cm Hg
- Net hourly electrical energy output (EP) 420.26-495.76 MW
The averages are taken from various sensors located around the plant that record the ambient variables every second. The variables are given without normalization.

In [70]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [71]:
x,y

(array([[  14.96,   41.76, 1024.07,   73.17],
        [  25.18,   62.96, 1020.04,   59.08],
        [   5.11,   39.4 , 1012.16,   92.14],
        ...,
        [  31.32,   74.33, 1012.92,   36.48],
        [  24.48,   69.45, 1013.86,   62.39],
        [  21.6 ,   62.52, 1017.23,   67.87]]),
 array([463.26, 444.37, 488.56, ..., 429.57, 435.74, 453.28]))

In [95]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

## Building ANN

In [73]:
## Intializing ANN
ann = tf.keras.models.Sequential()

In [74]:
## Adding Input Layer and Hidden Layer
ann.add(tf.keras.layers.Dense(units = 6,activation = 'relu'))
# Units = No of Hidden Neurons
# We don't need to specifify no of input neurons they are automatically detected by Tensorflow

In [75]:
## Adding Second Hidden Layer
ann.add(tf.keras.layers.Dense(units = 6,activation = 'relu'))

In [76]:
# Adding Output Layer
ann.add(tf.keras.layers.Dense(units = 1))

## Training ANN

In [77]:
 ann.compile(
 optimizer = 'adam', 
 loss = 'mean_squared_error'
 
 )

In [78]:
# Fitting Dataset
ann.fit(X_train,y_train,batch_size = 32,epochs = 50)

Train on 7654 samples
Epoch 1/50
7654/7654 [==============================] - 1s 141us/sample - loss: 30873.8823
Epoch 2/50
7654/7654 [==============================] - 0s 60us/sample - loss: 454.2989
Epoch 3/50
7654/7654 [==============================] - 0s 58us/sample - loss: 442.6651
Epoch 4/50
7654/7654 [==============================] - 0s 58us/sample - loss: 428.8586
Epoch 5/50
7654/7654 [==============================] - 0s 58us/sample - loss: 413.2626
Epoch 6/50
7654/7654 [==============================] - 0s 60us/sample - loss: 395.2492
Epoch 7/50
7654/7654 [==============================] - 0s 59us/sample - loss: 375.7705
Epoch 8/50
7654/7654 [==============================] - 0s 60us/sample - loss: 354.5444
Epoch 9/50
7654/7654 [==============================] - 0s 59us/sample - loss: 332.0455
Epoch 10/50
7654/7654 [==============================] - ETA: 0s - loss: 310.790 - 0s 61us/sample - loss: 309.9875
Epoch 11/50
7654/7654 [==============================] - 0s 59us/sample - loss: 286.3811
Epoch 12/50
7654/7654 [==============================] - 0s 59us/sample - loss: 262.7926
Epoch 13/50
7654/7654 [==============================] - 0s 60us/sample - loss: 239.6419
Epoch 14/50
7654/7654 [==============================] - 0s 60us/sample - loss: 217.5930
Epoch 15/50
7654/7654 [==============================] - 0s 60us/sample - loss: 195.5956
Epoch 16/50
7654/7654 [==============================] - 0s 60us/sample - loss: 176.3693
Epoch 17/50
7654/7654 [==============================] - 0s 58us/sample - loss: 157.0521
Epoch 18/50
7654/7654 [==============================] - 0s 61us/sample - loss: 140.0641
Epoch 19/50
7654/7654 [==============================] - 0s 60us/sample - loss: 124.7536
Epoch 20/50
7654/7654 [==============================] - 0s 60us/sample - loss: 110.1489
Epoch 21/50
7654/7654 [==============================] - 0s 61us/sample - loss: 97.7346
Epoch 22/50
7654/7654 [==============================] - 0s 59us/sample - loss: 86.2769
Epoch 23/50
7654/7654 [==============================] - 0s 62us/sample - loss: 76.5442
Epoch 24/50
7654/7654 [==============================] - 0s 59us/sample - loss: 68.1926
Epoch 25/50
7654/7654 [==============================] - 0s 59us/sample - loss: 60.9098
Epoch 26/50
7654/7654 [==============================] - 0s 63us/sample - loss: 54.3942
Epoch 27/50
7654/7654 [==============================] - 0s 59us/sample - loss: 50.0151
Epoch 28/50
7654/7654 [==============================] - 0s 60us/sample - loss: 45.1440
Epoch 29/50
7654/7654 [==============================] - 0s 61us/sample - loss: 42.1252
Epoch 30/50
7654/7654 [==============================] - 0s 60us/sample - loss: 39.2688
Epoch 31/50
7654/7654 [==============================] - 0s 59us/sample - loss: 37.3891
Epoch 32/50
7654/7654 [==============================] - 0s 59us/sample - loss: 36.2779
Epoch 33/50
7654/7654 [==============================] - 0s 59us/sample - loss: 34.8798
Epoch 34/50
7654/7654 [==============================] - 0s 61us/sample - loss: 34.2685
Epoch 35/50
7654/7654 [==============================] - 0s 58us/sample - loss: 33.6111
Epoch 36/50
7654/7654 [==============================] - 0s 57us/sample - loss: 32.0355
Epoch 37/50
7654/7654 [==============================] - 0s 61us/sample - loss: 31.6538
Epoch 38/50
7654/7654 [==============================] - 0s 58us/sample - loss: 31.1591
Epoch 39/50
7654/7654 [==============================] - 0s 60us/sample - loss: 30.4582
Epoch 40/50
7654/7654 [==============================] - 0s 60us/sample - loss: 30.2429
Epoch 41/50
7654/7654 [==============================] - 0s 61us/sample - loss: 29.4782
Epoch 42/50
7654/7654 [==============================] - 0s 60us/sample - loss: 29.7019
Epoch 43/50
7654/7654 [==============================] - 0s 62us/sample - loss: 28.9948
Epoch 44/50
7654/7654 [==============================] - 0s 59us/sample - loss: 29.4347
Epoch 45/50
7654/7654 [==============================] - 0s 60us/sample - loss: 28.3748
Epoch 46/50
7654/7654 [==============================] - 0s 60us/sample - loss: 28.6956
Epoch 47/50
7654/7654 [==============================] - 0s 60us/sample - loss: 28.0570
Epoch 48/50
7654/7654 [==============================] - 0s 62us/sample - loss: 28.1049
Epoch 49/50
7654/7654 [==============================] - 0s 61us/sample - loss: 27.5666
Epoch 50/50
7654/7654 [==============================] - 0s 59us/sample - loss: 27.8740

## Predicting Results

In [96]:
y_pred = ann.predict(X_test)

In [97]:
pd.DataFrame([[y_pred.reshape(1,len(y_pred)),y_test.reshape(1,len(y_pred))]],columns=['Predicted','Actual'])

,Predicted,Actual
0,"[[430.21555, 462.7429, 467.00687, 448.84253, 4...","[[431.23, 460.01, 461.14, 445.9, 451.29, 432.6..."

In [114]:
pd.concat([pd.DataFrame([i for i in  y_test],columns = ['Actual']),pd.DataFrame([i for i in  y_pred],columns = ['Predicted'])],axis=1)

      Actual   Predicted
0     431.23  430.215546
1     460.01  462.742889
2     461.14  467.006866
3     445.90  448.842529
4     451.29  459.311249
...      ...         ...
1909  460.29  461.044556
1910  452.42  455.637390
1911  473.26  472.793396
1912  438.00  442.121521
1913  463.28  460.290894

[1914 rows x 2 columns]